html{
    
    scroll-behavior: smooth;
       
   }
   
   body{
       
      /* font-family: 'Handlee', cursive;*/
       
   font-family: 'Montserrat', sans-serif;
   
   }
   
   h1,h2,h3,h4,h5,h6{
       
       font-family: 'Roboto', sans-serif;
       
   }
   
   .section-title h3{
       font-weight: bolder;
       margin-bottom: 0;
   }
   
   
   .hr-style{
       
       border: 4px dotted white;
       border-bottom: none;
       width: 50px;
   }
   
    /* header start here*/
   
   header{
       
       background-image: url(images/banner.jpg);
       background-position: center;
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: cover;
       
   }
   
   
   .navbar{
       
       padding: 1% 10% ;
       
   }
   
   .navbar-icon{
       
       color: #FFEEDB;
       
   }
   
   .navbar-brand img{
       
       width: 100px;
       height: auto ;
       
   }
   
   .btn{   
    background-color:#FFFFFF; /* Green */
    border: none;
    color:#000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;

   }

   .search-button{

    background-color: #FFB81C; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    border-radius: 15px;

   }

   .signIn-button{

    background-color: #1d9fd3; /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    border-radius: 10px;

   }
   
   
   .nav-link{
       font-size: 22px;
       color: #FFFFFF;
       margin: 10px;
   }
   
   .nav-link:hover{      
       color:#FFFFFF;
   }
   
   .form-check{
    padding: 15px;
   }
   
   .banner-container{
       
       height: 100vh;
   }

   .bg-cp{
     background-color: #FFFFFF;
     margin: 10px;
   }
   .button{
    background-color: #FFFFFF;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 10px;
    margin-bottom: -100px;
   }
   .fs-8{
    font-size: 15px;
   }
   .fs-7{
    font-size: 15px;
   }
   .search-btn{
    padding: 10px;
    margin-bottom: -30px;
   }

   .inp-width{
    width: 240px;
   }

   .inp-hight{
    height: 52px;
   }
   
   .item{
    margin: 5px;
    padding: 2px;
    color: #000000;
    font-weight:800;
   }

   .item2{
    width: 20%;
    color: #000000;
    font-weight:800;
   }

   .form-select{
    padding: 6px;
   }


   .tabs__button--active{

    font-weight: 900;
}

.tabs__button{
    display: block;
    outline:none;
}

.tabs__content{

    display: none;
    padding: 40px;
    margin: 90px;
    border-radius: 30px;

}

.tabs__content--active{
    display: block;
}

   /* header end here*/
   
   /* Footer start here*/
   
   footer{
       padding: 10px;
       background: #000000;       
   }

   .footer-container{
    margin-left: 120px;
    margin-right: 120px;
   }
   
   footer a{
       
       color: white;
       
       margin: 0 10px;
   }
   
   footer a:hover{
       
       color: #FFFFFF;
   }
   
   /* Footer end here*/
   
   @media(max-width:768px){
       
       .nav-link{
           
           background: rgba(0,0,0,0.7);
       }
     
       .banner-container h1{
       
       font-size: 2.5rem;
   
   }
       
       
   }