html{
    
    scroll-behavior: smooth;
       
   }
   
   body{
       
      /* font-family: 'Handlee', cursive;*/
       
   font-family: 'Montserrat', sans-serif;
   
   }
   
   h1,h2,h3,h4,h5,h6{
       
       font-family: 'Roboto', sans-serif;
       
   }
   
   .section-title h3{
       font-weight: bolder;
       margin-bottom: 0;
   }
   
   
   .hr-style{
       
       border: 4px dotted white;
       border-bottom: none;
       width: 50px;
   }
   
    /* header start here*/
   
   header{
       
       background-image: url(images/banner.jpg);
       background-position: center;
       background-attachment: fixed;
       background-repeat: no-repeat;
       background-size: cover;
       
   }
   
   
   .navbar{
       
       padding: 1% 10% ;
       background-color: rgba(26, 87, 128, 0.8);     
   }
   
   .navbar-icon{
       
       color: #FFEEDB;
       
   }
   
   .navbar-brand img{
       
       width: 70px;
       height: auto ;
       
   }
   
   .btn{
       
       background-color:#99154E;
       color: white;
       transition: 3s;
   }
   
   .btn:hover{
       
       background-color: #FFC93C;
       transform: scale(1.07);
       color: white;
   }
   
   .nav-link{
       font-size: 22px;
       color: #FFEEDB;
       margin: 10px;
       border-radius: 4px;
       transition: 4s; 
   }
   
   .nav-link:hover{
       
       background-color: #99154E;
       color: white;
       transform: scale(1.1);
   }
   
   
   
   .banner-container{
       
       height: 100vh;
   }
   
   .banner-container h1{
       color: coral;
       font-size: 3.5rem;
       background-color: rgba(80,10,0.7,0.4);
       padding: 10px 20px ;
       font-family: 'Handlee', cursive; 
       border-radius: 4px;
   }

   .col{
    align-items: center;
    background-color: white;
   }

   .flight-btn{

    background-color:#78c266;
       color: white;
       transition: 3s;
       padding: 5px;
       margin: 10px;
   }

   .flight-btn:hover{

    background-color: #FFC93C;
    color: white;

   }

   .hotel-btn{

    background-color:#78c266;
       color: white;
       transition: 3s;
       padding: 5px;
       margin: 10px;
   }

   .hotel-btn:hover{

    background-color: #FFC93C;
    color: white;

   }

   label
   {
       float: left;
       width: 150px;
       padding-right: 10px;
       text-align: right;
   }

   .col-3{
    border: 1px solid;
    border-radius: 4px;
    padding: 14px;
   }

   .col{
     width: 100%;
   }

   .dropdown-container {
    display: none;
    align-items: center;
    padding: 5px;
  }
   
   
   
   /* header end here*/

   
   /* features start here*/
   
   #features{
       padding: 5% 10% ;
       background: #e8ded2;
   }
   
   .features-col{
      border: 1px solid #ff02c0;
       border-radius: 4px;
       padding: 14px;
       margin: 20px 0 ;
       transition: .4s;
       
   }
   
   .features-col:hover{
       transform: scale(1.1);
       box-shadow: 2px 7px 4px black;
       
   }
   
   .icon-style{
       background: #bb0aac ;
       color: white;
       padding: 13px;
       margin: 7px 0 ;
        
   }


   
   /* featcher end here*/
   
   
   
   /* Contact me start here*/
   
   #contact{
       
       background: #AD6C80;
       padding: 2% 10%;
       
   }
   
   .form-group label{
       
       margin-bottom: 0;
       font-weight: bold;
       color: white;
   }
   
   
   /* contact me end here*/
   
   /* Footer start here*/
   
   footer{
       padding: 1% 10%; 
       
       background: #5E454B;   
       
   }
   
   footer a{
       
       color: white;
       
       margin: 0 10px;
   }
   
   footer a:hover{
       
       color: black;
   }
   
   /* Footer end here*/
   
   @media(max-width:768px){
       
       .nav-link{
           
           background: rgba(0,0,0,0.7);
       }
     
       .banner-container h1{
       
       font-size: 2.5rem;
   
   }
       
       
   }
      